results/**
resources/**
logs/**
.snakemake/**
data/**
databases/**
output/**
tmp/**
.test/output/**
.test/.snakemake/**
.test/tmp/**
.test/databases/**
.test/logs/**
savont_classify_latest.log
savont_latest.log